@import '../../../style/colors.scss';

.container {
	background-color: $main-light-yellow;
}

.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	flex-wrap: wrap;
}

@media (max-width: 1024px) {
	.cards {
		gap: 2rem;
	}
}
