@import '../../../style/colors.scss';

.form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
	justify-content: center;
	align-items: center;

	.question {
		font-size: 1.3rem;
		margin-top: 1rem;
		font-weight: bold;
	}

	.radioInputsContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		margin-bottom: 1rem;

		.row {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0 1rem;

			.answer {
				margin-left: 0.5rem;
				font-size: 1rem;
				color: #222;
			}

			.radio {
				width: 22px;
				height: 22px;
				cursor: pointer;
			}
		}
	}

	.mainInputsContainer {
		display: contents;
	}

	.hide {
		height: 0;
		opacity: 0;
	}

	.title {
		font-size: 2rem;
		margin-top: 2rem;
	}

	.helpBtn {
		width: 90%;
		padding: 0.5rem;
		margin-top: 1rem;
		border-radius: 8px;
		cursor: pointer;
	}

	.errorMessage {
		color: $main-red;
		font-weight: bold;
		font-size: 0.9rem;
		margin-top: 4px;
	}
}
