@import '../../../style/colors.scss';

.supportSection {
	background-color: $main-light;
}

.container {
	width: 1400px;
	height: 700px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	border-radius: 12px;
	overflow: hidden;

	.infoBox,
	.formContainer {
		width: 50%;
	}

	.infoBox {
		background-color: $main-light-yellow;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
		padding: 2rem 2.5rem;
		text-align: left;
		display: flex;
		flex-direction: column;
		justify-content: center;

		h2 {
			font-size: 2rem;
			color: black;
			margin-bottom: 1.5rem;
		}

		p {
			font-size: 1.1rem;
			line-height: 1.6;
			margin-bottom: 1.2rem;
			color: black;
		}

		ul {
			padding-left: 1.2rem;
			margin-bottom: 1.5rem;

			li {
				font-size: 1.05rem;
				line-height: 1.5;
				margin-bottom: 0.5rem;
				color: black;
			}
		}
	}

	.formContainer {
		background-color: $main-light-blue;
		padding: 2rem 2.5rem;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		// overflow: scroll;
	}
}

@media (max-width: 1024px) {
	.container {
		flex-direction: column;
		height: auto;
		width: auto;
		align-items: center;
		justify-content: center;

		.infoBox,
		.formContainer {
			width: 100%;
		}
	}
}
