@import '../../../style/colors.scss';

.section {
	background-color: $main-light;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	row-gap: 2rem;
	column-gap: 5rem;
	flex-wrap: wrap;
}

.secondRow {
	margin-top: 5rem;
}
