@import '../../../style/colors.scss';

.aboutSection {
	background-color: $main-light;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.container {
		background-color: $main-light-blue;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
		// box-shadow: 0 4px 12px rgba(0, 120, 180, 0.15);
		// box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
		// box-shadow: 0 4px 10px rgba(173, 216, 230, 0.4);
		border-radius: 0.5rem;
		padding: 1.2rem;
	}

	.intro {
		text-align: center;
		font-size: 1.2rem;
		max-width: 800px;
		margin: 0 auto 1rem;
		font-weight: bold;
	}

	h3 {
		text-align: center;
		margin-bottom: -20px;
	}

	.aboutDetails ul,
	.facilities ul {
		list-style: none;
		padding-left: 0;
		margin: 1rem 0;
		li {
			padding: 0.5rem 0;
			font-size: 1.1rem;
			text-align: center;
			&::before {
				content: '🧸 ';
			}
		}
	}

	.highlight {
		margin-top: 2rem;
		background-color: $main-light-blue;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
		padding: 1.5rem;
		border-radius: 1rem;
		font-weight: 500;
		font-size: 1.1rem;
		text-align: center;
	}
}

@media (max-width: 1024px) {
	.aboutSection {
		.intro {
			font-size: 1rem;
		}

		.highlight {
			p {
				margin: 10px 0;
			}
		}

		aboutDetails ul,
		.facilities ul {
			li {
				font-size: 1rem;
			}
		}
	}
}
